@import url('../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

p {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.form-wrap {
  display: flex;
  height: 60px;
  margin-bottom: 15px;
  background-color: blue;
}

.search-form {
  margin: auto;
  min-width: 300px;
}

.search-input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  float: left;
  width: 80%;
  background: rgb(255, 253, 253);
}

.search-form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: lightgray;
  color: rgb(54, 54, 54);
  font-size: 17px;
  border: 1px solid grey;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

/* button */
.load-more {
  display: flex;
  margin: 10px auto;
  padding: 10px 15px;
  background: blue;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* .search-form::after {
  content: '';
  clear: both;
  display: table;
} */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: repeat(auto-fill, auto); */
  row-gap: 35px;
  column-gap: 15px;
  grid-auto-flow: dense;
  /* padding-bottom: 100px; */
}

.photo-card img {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 200px;

  object-fit: cover;
}

.info {
  display: flex;
  padding: 10px;
  border: 1px solid grey;
  justify-content: space-between;
}

.info-item {
  text-align: center;
  justify-content: space-evenly;
}

/* .info-item:not(:last-child) {
  margin-right: 20px;
} */
